In [261]:
import numpy as np
import pandas as pd
import requests 
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.feature_extraction.text import CountVectorizer

In [275]:
##Explore the structure of json output files
#Define the url
url="https://www.googleapis.com/books/v1/volumes?q=psychology+book&startIndex="+str(50)+"&maxResults="+str(1)+"&projection=lite&fields=items(volumeInfo)"
    
#Query the data
r = requests.get(url)
json_data = r.json()
type(json_data)

dict

In [276]:
#Check the structure of the data
print(json_data)

{'items': [{'volumeInfo': {'title': 'Psychology', 'subtitle': 'A Degree in a Book', 'authors': ['Alan Porter'], 'publisher': 'Degree in a Book', 'publishedDate': '2018', 'description': 'The perfect introduction to psychology, this title covers every major subject of psychology and every methodology. Including helpful diagrams, summary sections, ideas for further reading and questions to consider, you will soon be able to understand the differences between Freud and Jung, its relationship to neuroscience and physiology, and how psychology is used in our everyday lives.', 'readingModes': {'text': False, 'image': False}, 'maturityRating': 'NOT_MATURE', 'allowAnonLogging': False, 'contentVersion': 'preview-1.0.0', 'panelizationSummary': {'containsEpubBubbles': False, 'containsImageBubbles': False}, 'imageLinks': {'smallThumbnail': 'http://books.google.com/books/content?id=LBKqtQEACAAJ&printsec=frontcover&img=1&zoom=5&source=gbs_api', 'thumbnail': 'http://books.google.com/books/content?id=LBKqtQEACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api'}, 'previewLink': 'http://books.google.co.uk/books?id=LBKqtQEACAAJ&dq=psychology+book&hl=&cd=51&source=gbs_api', 'infoLink': 'http://books.google.co.uk/books?id=LBKqtQEACAAJ&dq=psychology+book&hl=&source=gbs_api', 'canonicalVolumeLink': 'https://books.google.com/books/about/Psychology.html?hl=&id=LBKqtQEACAAJ'}}]}

In [279]:
### Write Function to query a certan number of books after the start Index: 

def query_by_batch(startIndex, maxResults):
    """
    Download book content on Google Books based on the start index and number of results per query:
    
    Args:
    startIndex(int): the position to start query an interger from 1 to max length of the book list
    maxResults: number of books to get in one request
    
    Returns: 
    Data Frame with 5 colums: Title, Authors, Description, Year, Avg Rating 
    """
   
    #Define the url
    url="https://www.googleapis.com/books/v1/volumes?q=psychology+book&startIndex="+str(startIndex)+"&maxResults="+str(maxResults)+"&projection=lite&fields=items(volumeInfo)"
    
    #Query the data
    r = requests.get(url)
    json_data = r.json()
    items_list = json_data['items']
    
    #Construct the table
    title = []
    authors = []
    description = []
    date = []
    rating = []

    for i in range (0, len(items_list)): 
        title.append(dict(items_list[i]['volumeInfo'])['title'])
        for label, field in [(authors, 'authors'), (description, 'description'), (date, 'publishedDate'), (rating, 'averageRating')]:
            if field in dict(items_list[i]['volumeInfo']).keys():
                label.append(dict(items_list[i]['volumeInfo'])[field])  
            else:
                label.append('NA')

    #Zip data in to data frame
    df_book = pd.DataFrame(zip(title, authors, description, date, rating), columns = ['Title', 'Authors', 'Description', 'Date', 'Rating'])
    
    return df_book

In [303]:
#Let's see if the function works:
query_by_batch(5, 2)

,Title,Authors,Description,Date,Rating
0,Educational Psychology,[L.S. Vygotsky],When this classic book was first published in ...,1997-08-11,NA
1,Science Fiction and Psychology,[Gavin Miller],The psychologist may appear in science fiction...,2020-01-31,NA

In [297]:
startIndex = np.arange(0, 520, 40)

In [298]:
print(startIndex)

[  0  40  80 120 160 200 240 280 320 360 400 440 480]

In [299]:
#Query all database: 
df_all = pd.DataFrame(columns=['Title', 'Authors', 'Description', 'Date', 'Rating'])

for i in startIndex:
    df_all = pd.concat([df_all, query_by_batch(i, 40)], axis=0)

In [300]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 520 entries, 0 to 39
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        520 non-null    object
 1   Authors      520 non-null    object
 2   Description  520 non-null    object
 3   Date         520 non-null    object
 4   Rating       520 non-null    object
dtypes: object(5)
memory usage: 24.4+ KB

In [306]:
df_all.head()

,Title,Authors,Description,Date,Rating
0,The Psychology Book,[DK],"All the big ideas, simply explained - an innov...",2015-02-02,NA
1,Little Book of Psychology,"[Emily Ralls, Caroline Riggs]",If you want to know your Freud from your Jung ...,2019-06-13,NA
2,Introduction to Psychology,[Lionel Nicholas],Presents an overview of the latest information...,2009-04,NA
3,The Everything Psychology Book,"[Kendra Cherry, Paul G Mattiuzzi]",There's nothing more fascinating-- or frighten...,2010-11-16,NA
4,Counselling Psychology,[David Murphy],Published on behalf by the British Psychologic...,2017-09-25,NA

In [316]:
df_all.to_csv('Google Books.csv')